### Estructuras de datos
    - series -> index 
    - dataframe -> index
    
    Tanto las series como los dataframe deben tener un indice en pandas
    los indices se pueden repetir (no es como tal una llave)
    
    ej:
        dataframe:
        
        index    columna1    columna2
          0         *            *
          1         *            *
          .
          .
          .
          .
          .
          n          *            *
          
          |---Serie---|

In [18]:
import numpy as np
import pandas as pd

## Series

In [2]:
#creacion de una serie en pandas
serie = pd.Series(np.random.rand(5))
print (serie)

0    0.949599
1    0.148797
2    0.651705
3    0.550793
4    0.109610
dtype: float64

In [3]:
//indices de la serie
serie.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
#Creacion de una serie especificando los indices
serie = pd.Series(np.random.rand(5), index=['a','b','c','d', 'e'])
print(serie)

a    0.893511
b    0.099166
c    0.791254
d    0.847943
e    0.800866
dtype: float64

In [7]:
#creacion a partir de un diccionario
d = {'b':1, 'a':0, 'c':2}
s1 = pd.Series(d)
print(s1)

b    1
a    0
c    2
dtype: int64

In [8]:
#acceso a un valor por indice
s1['b']

1

In [10]:
#acceso por arreglo de indices
serie[[4,3,1]]

e    0.800866
d    0.847943
b    0.099166
dtype: float64

In [11]:
#acceso por condicion
serie[serie > serie.median()]

a    0.893511
d    0.847943
dtype: float64

In [14]:
#agregar registro a la serie
serie.append(pd.Series(7, index=['f']))

a    0.893511
b    0.099166
c    0.791254
d    0.847943
e    0.800866
f    7.000000
dtype: float64

In [15]:
#operaciones entre series

serie + serie
serie*2
np.exp(serie)

a    2.443696
b    1.104250
c    2.206160
d    2.334838
e    2.227470
dtype: float64

In [17]:
#operando como diccionarios
'g'in serie
serie['g']=3

In [ ]:
#guardar la serie a archivo csv
serie.to_csv('serie.csv')

## dataframe

In [25]:
#creacion mediante diccionario

dic ={'Codigo': [20151020060, 20151020045, 20151020064], 'nombre':['prueba', 'prueba1', 'prueba2'], 'nota':[5,5,5]}
df = pd.DataFrame(dic)
df

        Codigo   nombre  nota
0  20151020060   prueba     5
1  20151020045  prueba1     5
2  20151020064  prueba2     5

In [26]:
df.set_index(['Codigo'])
df

        Codigo   nombre  nota
0  20151020060   prueba     5
1  20151020045  prueba1     5
2  20151020064  prueba2     5